@page
@model CatsModel
@{
    ViewData["Title"] = "Individual Assignment";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <style>
body {background-color: powderblue;}
h1   {color: blue;}
p    {color: red;}
</style>
</head>
<body>
    <h1><b>Cats</b></h1>
    <p>Cats are one of, if not the most, popular pet in the world.Cats and humans have been associated for nearly 10000 years.</p>
    <br />
    <img src="https://thumbs-prod.si-cdn.com/s-rtW1rEAQTIGcmUVNFSSPC4s3I=/800x600/filters:no_upscale()/https://public-media.si-cdn.com/filer/56/4a/564a542d-5c37-4be7-8892-98201ab13180/cat-2083492_1280.jpg" alt="Cat" width="460" height="345">
    <h2><em>Suprising Facets about cats </em></h2>
    <p>Cats are believed to be the only mammals who don't taste sweetness</p>
    <p>Cats can jump up to six times their length.</p>
</body>
</html>